<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mongoosex prototype">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{title}}</title>

    {{#header env}}
      {{#each stylesheets}}
        <link rel="stylesheet" href="/css/{{this}}.css" />
      {{/each}}

      {{#each scripts}}
        <script src="/js/build/{{this}}.js"></script>
      {{/each}}
    {{/header}}
  </head>

  <body>
    <div class="wrap">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/home">{{title}}</a>
          </div>
        </div>
      </nav>

      {{{body}}}
    </div>
  </body>
</html>