<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mongoosex prototype">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/landing.css" />
  </head>

  <body>
    <div class="landing-wrap">
      <header class="landing-header landing-panel">
        <div class="landing-brand">{{title}}</div>
      </header>

      {{{body}}}
    </div>
  </body>
</html>