/*START landing page*/

$ld-header-ht: 20%;

$ld-header-wd: 100%;

$ld-info-ht: 50%;

$ld-controls-ht: 30%;

$ld-controls-container-wd: 100%;

$ld-controls-btn-pd: 8px 16px;

$ld-controls-btn-fs: 18px;

$ld-controls-btn-pd-sm: 14px 16px;

$ld-controls-btn-fs-sm: 28px;

$ld-brand-fs: 40px;

$ld-brand-fs-sm: 60px;

$ld-info-fs: 18px;

$ld-info-fs-sm: 30px;

/*END landing page*/