<div class="container">
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
  {{about}}<br />
</div>

<footer class="navbar navbar-default navbar-fixed-bottom home-footer" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <a href="#"><span class="fa fa-edit"></span> Create</a>
      </div>
      
      <div class="col-xs-4">
        <a href="#"><span class="fa fa-calendar"></span> Schedule</a>
      </div>
      
      <div class="col-xs-4">
        <a href="#"><span class="fa fa-camera-retro"></span> Photo</a>
      </div>
    </div>
  </div>
</footer>