<div class="landing-panel landing-info">
  <div class="container">
    <p>{{about}}</p>
  </div>
</div>

<div class="landing-panel landing-controls">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-default btn-block" href="/signup">Sign up</a>
      </div>
      
      <div class="hidden-lg hidden-md">&nbsp;</div>

      <div class="col-md-6">
        <a class="btn btn-default btn-block" href="/signin" data-toggle="modal" data-target=".js-sign-in-modal" data-remote="false">Sign in</a>
      </div>
    </div>
  </div>
</div>

<!-- The markup for the modal is bigger than the markup for the page itself. NEAT! -->
<div class="js-sign-in-modal modal fade" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="sign-in-modal-title">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/signin" method="post" role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="fa fa-times"></span>
          </button>
          
          <h4 class="modal-title text-main" id="sign-in-modal-title">Sign in</h4>
        </div>

        <div class="modal-body">
          <div class="alert alert-danger hidden"></div>

            <div class="form-group">
              <input type="text" class="form-control" name="email" placeholder="Email" autocomplete="off" />
            </div>

            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" />
            </div>
        </div>

        <div class="modal-footer">
          <span class="text-muted pull-left hidden-xs">
            Don't have an account? Sign up <a href="/signup">here</a>.
          </span>
          
          <input type="submit" class="btn btn-primary" value="Sign in" />
        </div>
      </form>
    </div>
  </div>
</div>