
<div class="container signup-header text-muted text-center">
  <div class="row">
    <div class="col-xs-12">
    <h2>Sign up</h2>
    </div>
  </div>
</div>

<div class="content-wrap">
  <div class="js-basic-info-view content-panel show">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form role="form">
            <div class="form-group">
              <input class="js-display-name-input form-control" type="text" placeholder="Display Name" data-model-bind="displayName" />
            </div>

            <div class="form-group">
              <input class="js-email-input form-control" type="text" placeholder="Email" data-model-bind="email" />
            </div>

            <div class="form-group">
              <input class="js-password-1-input form-control" type="password" placeholder="Password" data-model-bind="password" />
            </div>

            <div class="form-group">
              <input class="js-password-2-input form-control" type="password" placeholder="Repeat Password" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="js-other-info-view content-panel">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form role="form">
            
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-default btn-file">
                    Browse... <input class="js-profile-file" type="file" />
                  </span>
                </span>
                <input class="js-profile-input file-text form-control" type="text" readonly placeholder="Profile photo" />
              </div>
            </div>

            <div class="form-group">
              <input class="js-dob-input form-control" type="date" placeholder="Date of birth" data-model-bind="dateOfBirth" />
            </div>

            <div class="form-group">
              <select class="js-gender-input form-control" placeholder="Gender" data-model-bind="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="TheJoyce">The Joyce</option>
              </select>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-8 col-md-10">
                  <input type="text" class="js-city-input form-control" placeholder="City" data-model-bind="city">
                </div>
                
                <div class="col-xs-4 col-md-2">
                  <select class="js-state-input form-control" placeholder="State" data-model-bind="state">
                    {{#each states}}
                      <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <textarea class="js-bio-input form-control" placeholder="Bio" data-model-bind="bio"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="js-submit-signup-view content-panel">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12">
          <span class="fa fa-cog fa-spin fa-5x text-main"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <strong class="text-muted">Signing up...</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="js-verify-signup-view content-panel text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-main">Almost done</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p>
            We just need to verify your email address. Please check your email and follow the link provided
            or enter the verification code below.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="js-verify-code-input form-control text-center" placeholder="Verification code" />
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <span class="text-muted">
            Didn't get an email? Click <a class="js-resend-email" href="#">here</a> to send another one.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>