html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  padding-top: 50px;
  margin-bottom: -40px;
}

.wrap:after {
  content: "";
  display: block;
}

.main-footer,
.wrap:after {
  height: 40px;
}

a {
  color: $primaryColor;

  &:link,
  &:visited {
    color: $primaryColor;
  }

  &:hover,
  &:active {
    color: darken($primaryColor, 10%);
  }
}

.navbar.navbar-default {
  background-color: $white;
}

[class*="navbar-"] .navbar-brand {
  color: $primaryColor;
  font-size: 22px;

  &:hover,
  &:active {
    color: darken($primaryColor, 10%);
  }
}

.btn {
  &.btn-default {
    color: $primaryColor;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $primaryColor;
    }
  }
}

.open .dropdown-toggle.btn-default {
  color: $primaryColor;
}

.btn-primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: $white;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $primaryColor;
    border-color: #7F372D;
  }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    @include transparency(0);
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.file-text {
  color: #999;
}

.text-main {
  color: $primaryColor;
}

.header-alert {
  position: fixed;
  width: 100%;
  z-index: 1029;
  padding-top: 60px;
  border-radius: 0;

  text-align: center;

  &:not(.hidden) + .wrap {
    padding-top: 115px;
  }
}

.navbar>.container {
  position: relative;
}

.navbar .navbar-search-form {
  float: left;
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;

  .search-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 20px;
    line-height: 50px;
    padding: 0 15px;

    &:focus {outline:none;}
    &::-moz-focus-inner {border:0;}
  }

  input[type="text"] {
    position: relative;
    z-index: 1;
    padding: 6px 0;
    height: 100%;
    width: 0;
    visibility: hidden;

    font-size: 22px;
    background-color: #fff;

    @include border-radius(0);
    border: 0;

    outline: 0px;
    -webkit-appearance: none;

    @include hardwareAcceleration;
    @include transition(width 1s ease, visibility 1s ease, padding-left 1s ease 0.2s);

    &:focus {
      outline: 0px;
      -webkit-appearance: none;
      @include box-shadow(none);
    }

    &.show {
      visibility: visible;
      width: 100%;
      padding-left: 46px;
      padding-right: 12px;

      @include transition-delay(0);
    }
  }

  + .navbar-header {
    position: relative;
    left: 46px;

    .navbar-toggle {
      right: 46px;
    }
  }
}

.navbar-header .navbar-toggle {
  padding: 6px 10px;
}