.navbar.home-footer {
  background-color: #bf5343;
  opacity: 0.9;
  font-weight: bold;

  a,
  a:link {
    height: 50px;
    display: block;
    text-align: center;
    padding: 15px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
  }
}