html,
body {
  height: 100%;
}

.landing-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
}

.landing-panel {
  position: relative;
  text-align: center;

  &:before {
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
    content: "";
  }

  > div,
  > p {
    display: inline-block;
    vertical-align: middle;
  }
}

.landing-header {
  width: $ld-header-wd;
  height: $ld-header-ht;
}

.landing-brand {
  font-size: $ld-brand-fs;
  color: $primaryColor;
}

.landing-info {
  height: $ld-info-ht;
  background-color: $primaryColor;
  color: $white;

  p {
    font-size: $ld-info-fs;
  }
}

.landing-controls {
  height: $ld-controls-ht;

  .btn {
    font-size: $ld-controls-btn-fs;
    padding: $ld-controls-btn-pd;
  }
}