<footer class="js-navigation-view navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <form class="navbar-form">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-justified">
            <a class="js-prev-btn btn btn-default btn-block" href="#" disabled>Previous</a>
            <a class="js-next-btn btn btn-default btn-block" href="#" disabled>Next</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</footer>