<div class="js-verify-signup-view content-panel text-center {{showVerify}}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-main">Almost done</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>
          We just need to verify your email address. Please check your email and follow the link provided
          or enter the verification code below.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <input type="text" class="js-verify-code-input form-control text-center" placeholder="Verification code" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <span class="text-muted">
          Didn't get an email? Click <a class="js-resend-email" href="#">here</a> to send another one.
        </span>
      </div>
    </div>
  </div>
</div>