.wrap {
  overflow-x: hidden;
  margin-bottom: 0;
}

.content-wrap {
  position: relative;
  width: 100%;
}

.content-panel {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  margin-right: -4px;
  top: 0;
  left: -100%;
  width: 100%;
  
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);

  transition: visibility 1s ease, width 0.8s ease, left 0.8s ease;
  z-index: 1;

  &.show {
    visibility: visible;
    width: 100%;
    padding-bottom: 60px;
    left: 0%;
    z-index: 3;
  }

  &.show ~ .content-panel {
    right: -100%;
    left: 100%;
    width: 100%;
    z-index: 2;
  }
}

.signup-header {
  margin-bottom: 8px;
}

.profile-select-btn img {
  height: 200px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}