<div class="landing-panel landing-info">
  <div class="container">
    <p>{{about}}</p>
  </div>
</div>

<div class="landing-panel landing-controls">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-default btn-block" href="#">Sign up</a>
      </div>
      
      <div class="hidden-lg hidden-md">&nbsp;</div>

      <div class="col-md-6">
        <a class="btn btn-default btn-block" href="/signup">Sign in</a>
      </div>
    </div>
  </div>
</div>